{% macro progress_bar(percentage) -%}
<div class="progress">
   <div class="progress-bar" role="progressbar" aria-valuenow="{{percentage}}"
        aria-valuemin="0" aria-valuemax="100" style="width:{{percentage}}%">{{percentage|round(0)}}%</div>
</div>
{% endmacro %}

{% macro file_listing(files) -%}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Name</th>
	<th>Created</th>
	<th>Observation</th>
	<th>Type</th>
	<th>Source</th>
	<th>Size</th>
      </tr>
    </thead>
    <tbody>
      {% for f in files %}
      <tr>
	<td><a href="/files/{{f.name}}">{{f.name}}</a></td>
	<td>{{f.create_time}}</td>
	<td><a href="/observations/{{f.obsid}}">{{f.obsid}}</a></td>
	<td>{{f.type}}</td>
	<td>{{f.source}}</td>
	<td>{{f.size|filesizeformat}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endmacro %}

{% macro store_listing(stores) -%}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Name</th>
	<th>SSH Host</th>
	<th>Path Prefix</th>
	<th>HTTP Prefix</th>
	<th>Capacity</th>
	<th>Usage</th>
	<th>Available?</th>
      </tr>
    </thead>
    <tbody>
      {% for s in stores %}
      <tr>
	<td><a href="/stores/{{s.name}}">{{s.name}}</a></td>
	<td><tt>{{s.ssh_host}}</tt></td>
	<td><tt>{{s.path_prefix}}</tt></td>
	<td>
	  {% if s.http_prefix %}
	    <a href="{{s.http_prefix}}">{{s.http_prefix}}</a>
	  {% else %}
	    —
	  {% endif %}
	</td>
	<td>{{s.capacity|filesizeformat}}</td>
	<td>{{progress_bar(s.usage_percentage)}}</td>
	<td>
	  <!-- Note: below, "yes" and "no" are surrounded by special
	       non-breaking space characters to pad out the boxes a little
	       bit. For some reason &nbsp; is not parsed. -->
	  {% if s.available %}
	  <span class="bg-success"> yes </span>
	  {% else %}
	  <span class="bg-danger"> no </span>
	  {% endif %}
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endmacro %}
