{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<h1>{{title}}</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Property</th>
	<th>Units</th>
	<th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>Start time</td>
	<td>JD</td>
	<td>{{obs.start_time_jd}}</td>
      </tr>
      <tr>
	<td>Stop time</td>
	<td>JD</td>
	<td>{{obs.stop_time_jd}}</td>
      </tr>
      <tr>
	<td>Start LST</td>
	<td>hours</td>
	<td>{{obs.start_lst_hr}}</td>
      </tr>
      <tr>
	<td>Duration</td>
	<td>day</td>
	<td>{{obs.stop_time_jd}}</td>
      </tr>
      <!--<tr>
	<td>Number of files</td>
	<td></td>
	<td>{{files.len}}</td>
      </tr>-->
    </tbody>
  </table>
</div>

<h2>Files</h2>
{{ macros.file_listing(files) }}

</div>
{% endblock %}
