{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<h1>{{title}}</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Property</th>
	<th>Units</th>
	<th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>Start time</td>
	<td>JD</td>
	<td>{{sess.start_time_jd}}</td>
      </tr>
      <tr>
	<td>Stop time</td>
	<td>JD</td>
	<td>{{sess.stop_time_jd}}</td>
      </tr>
      <tr>
	<td>Duration</td>
	<td>day</td>
	<td>{{sess.duration}}</td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Observations</h2>

<p>Session {{sess.id}} contains {{obs|length}} observations.</p>

{{ macros.obs_listing(obs) }}

</div>
{% endblock %}
