{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<h1>{{title}}</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Session ID</th>
	<th>Start JD</th>
	<th>Stop JD</th>
	<th>Duration (days)</th>
	<th>Num. Observations</th>
	<th>Num. Files (with instances)</th>
      </tr>
    </thead>
    <tbody>
      {% for s in sess %}
      <tr>
	<td><a href="/sessions/{{s.id}}">{{s.id}}</a></td>
	<td>{{s.start_time_jd}}</td>
	<td>{{s.stop_time_jd}}</td>
	<td>{{s.duration}}</td>
	<td>{{s.num_obs}}</td>
	<td>{{s.num_files}} ({{s.num_files_with_instances}})</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
