{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<h1>{{title}}</h1>

<form role="form" action="/" method="post">
  <input type="hidden" name="id" value="{{storder.id}}">

  <div class="form-group">
    <label for="storder-name">Name</label>
    <input type="text" class="form-control" name="name" id="storder-name" value="{{storder.name}}">
  </div>

  <div class="form-group">
    <label for="storder-conn">Destination Connection</label>
    <p>Connection names are listed in the <tt>~/.hl_client.cfg</tt> file of
      the user account running the Librarian server.</p>
    <input type="text" class="form-control" name="conn" id="storder-conn" value="{{storder.conn_name}}">
  </div>

  <div class="form-group">
    <label for="storder-search">Search specification</label>

    <p>Searches are written
      in <a href="http://guide.couchdb.org/draft/json.html">JSON format</a>. The
      outermost part of every search is a dictionary of <i>clauses</i>
      that are combined with a boolean “and” operation. Each clause consists of
      a pair data items: its <i>type</i> and its <i>data</i>. The following
      clause types are implemented:</p>

    <dl class="dl-horizontal">
      <dt>and</dt>
      <dd>Boolean “and”. The <i>data</i> is a dictionary of sub-clauses to be and-ed together.</dd>

      <dt>or</dt>
      <dd>Boolean “or”. The <i>data</i> is a dictionary of sub-clauses to be or-ed together.</dd>

      <dt>name-like</dt>
      <dd>Matches files with names “like” the <i>data</i> specification, according to the
	<a href="https://www.postgresql.org/docs/9.5/static/functions-matching.html">SQL
	  LIKE operator</a>. Keep in mind that the file name is its “basename”,
	without any directory components. Every file in the Librarian must have
	a unique name.</dd>

      <dt>not-older-than</dt>
      <dd>Matches files with creation times that are never than <i>data</i> days
	ago. For example, <tt>"not-older-than": 14</tt> matches files that are
	not more than two weeks old.</dd>
    </dl>

    <textarea class="form-control" rows="10" name="search" id="storder-search">{{storder.search}}</textarea>
  </div>

  <button type="submit" class="btn btn-primary" name="update"
	  formaction="/standing-orders/{{storder.name}}/update">Update</button>
  <a href="/standing-orders" class="btn btn-default">Back to standing orders</a>

  <button type="submit" class="btn btn-danger pull-right" name="delete"
	  formaction="/standing-orders/{{storder.name}}/delete">Delete</button>
</form>

<h3>Files currently matching this order</h3>

<p>Not including files that have active or pending copy tasks
  (see <a href="/tasks">the task listing</a>) or that are marked with the file
  event <tt>standing_order_succeeded:{{storder.name}}</tt>. Most orders will
  also only match recently-created files.</p>

{% if cur_files %}
{{macros.file_listing(cur_files)}}
{% else %}
<p class="text-center"><i>(No files currently match this order.)</i></p>
{% endif %}

{% endblock %}
