{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<h1>{{title}}</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Property</th>
	<th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>SSH host</td>
	<td><tt>{{store.ssh_host}}</tt></td>
      </tr>
      <tr>
	<td>Path prefix</td>
	<td><tt>{{store.path_prefix}}</tt></td>
      </tr>
      <tr>
	<td>Capacity</td>
	<td>{{store.capacity|filesizeformat}}</td>
      </tr>
      <tr>
	<td>Usage</td>
	<td>{{macros.progress_bar(store.usage_percentage)}}</td>
      </tr>
      <tr>
	<td>Available?</td>
	<td>{{macros.true_good_boolean(store.available)}}</td>
      </tr>
    </tbody>
  </table>
</div>

{% if instances %}
<h2>File Instances</h2>

<p>{{store.name}} contains {{instances|length}} files.</p>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Subdirectory</th>
	<th>Name</th>
	<th>Obsid</th>
	<th>Type</th>
	<th>Size</th>
      </tr>
    </thead>
    <tbody>
      {% for i in instances %}
      <tr>
	<td>{{i.parent_dirs}}</td>
	<td><a href="/files/{{i.file.name}}">{{i.file.name}}</a></td>
	<td><a href="/observations/{{i.file.obsid}}">{{i.file.obsid}}</a></td>
	<td>{{i.file.type}}</td>
	<td>{{i.file.size}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>This store currently has no files.</p>
  {% endif %}
</div>

{% endblock %}
