# ignore docs
docs/*
README.md
LICENSE
CHANGELOG.md
hl_client.cfg.sample

# ignore ci files, except what we need to build the app
ci
!ci/librarian_server_conda_env.yml

# don't include secrets folder
container/secrets
