# ignore docs
docs/*
README.md
LICENSE
CHANGELOG.md
hl_client.cfg.sample

# ignore ci files except ones we need to start server
ci/*
!ci/server-config-docker.json
!ci/start.sh
!ci/wait-for-it.sh
!ci/librarian_server_conda_env.yml
